<?xml version="1.0" encoding="Utf-8" ?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
	<jsp:directive.page contentType="text/html; charset=Utf-8" 
		pageEncoding="Utf-8" session="true"/>
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Error</title>
</head>
<body>
<h3>Error</h3>
	<hr />
	<jsp:expression> 
(request.getAttribute("errorMessage") != null)  
? (String) request.getAttribute("errorMessage")  
: "unknown error"</jsp:expression>
	<hr />
	<a href="controller">Return to login page</a>
</body>
</html>
</jsp:root>