<?xml version="1.0" encoding="Utf-8" ?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:c="http://java.sun.com/jsp/jstl/core" version="2.0">
	<jsp:directive.page contentType="text/html; charset=Utf-8" 
		pageEncoding="Utf-8" session="true"/>
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Catalog</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
	<div id="wrapper">
		<jsp:directive.include file="jspf/header.jspx" />
		<jsp:directive.include file="jspf/menu.jspx" />
		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="page-content">
						<div id="content">
							<c:choose>
								<c:when test="${not empty departments}" >
									<h3>Hypermarket catalog</h3><hr/>
									<div id="list5" >
										<ol>
										<c:forEach var="department" items="${departments}" >
											<li>
												<form name="departmentForm" method="POST" action="controller">
													<input type="hidden" name="command" value="showGoods" />
													<input type="hidden" name="showGoods" value="showByDepartment" />
													<input type="hidden" name="departmentUid" value="${department.uid}" /> 
													<input id="catalogButton" type="submit" value="${department.name}" />
												</form>
												<ol>	
													<c:forEach var="category" items="${department.categories}" >
														<li>
															<form name="categoryForm" method="POST" action="controller">
																<input type="hidden" name="command" value="showGoods" /> 
																<input type="hidden" name="showGoods" value="showByCategory" /> 
																<input type="hidden" name="categoryUid" value="${category.uid}" />
																<input id="catalogButton" type="submit" value="${category.name}" />
															</form>
														</li>
													</c:forEach>
												</ol>
											</li>
										</c:forEach>
										</ol>
									</div>
								</c:when>
								<c:otherwise>
									<jsp:text>List is empty</jsp:text>
								</c:otherwise>
							</c:choose>
							<div style="clear: both;">&amp;nbsp;</div>
						</div>
						<!-- end #content -->
						<jsp:directive.include file="jspf/sidebar.jspx" />
					</div>
					<div style="clear: both;">&amp;nbsp;</div>
				</div>
			</div>
		</div>
		<!-- end #page -->
	</div>
	<jsp:directive.include file="jspf/footer.jspx" />
</body>
</html>
</jsp:root>