<?xml version="1.0" encoding="Utf-8" ?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
	<jsp:directive.page contentType="text/html; charset=Utf-8" 
		pageEncoding="Utf-8" session="true"/>
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
	<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li class="current_page_item">
					<form name="loginForm" method="POST" action="controller">
						<input type="hidden" name="command" value="homepage" /> 
						<input type="submit" value="Homepage" />
					</form>
				</li>
				<li>
					<form name="loginForm" method="POST" action="controller">
							<input type="hidden" name="command" value="catalog" /> 
							<input type="submit" value="Catalog" />
					</form>
				</li>
				<li>
					<form name="loginForm" method="POST" action="controller">
							<input type="hidden" name="command" value="showGoods" /> 
							<input type="hidden" name="showGoods" value="showAll" />
							<input type="submit" value="Goods"/>
					</form>
				</li>
				<li>
					<form name="loginForm" method="POST" action="controller">
						<input type="hidden" name="command" value="about" /> 
						<input type="submit" value="About" onClick="submit"/>
					</form>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
</jsp:root>